<div class="containerChosen">
    <div class="cfHead">
        Chosen Features
    </div>
    <div class="below">
        <h6>1. Infrastructure deployment</h6>
        <hr>
        <h6>Select Infrastructure</h6>
    </div>
    <hr color="white">
    <div class="below">
        <h6>2. Currency</h6>
        <hr>
        <h6>Select Currency</h6>
    </div>
    <hr color="white">
    <div class="below">
        <h6>3. Number of virtual machines</h6>
        <hr>
        Enter number of VMs
    </div>
    <hr color="white">
    <div class="below">
        4. Product Edition
        <hr>
        Select Product Edition
    </div>
    <hr color="white">
    <div class="below">
        5. Virtualization host type
        <hr>
        Select Product Edition
    </div>
    <hr color="white">
    <div class="below">
        6. Storage type
        <hr>
        Select a storage type
    </div>
    <hr color="white">
    <div class="below">
        7. & 8. Infrastructure costs
        <hr>
        Power costs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Space costs
    </div>
    <hr color="white">
    <div class="below">
        9. & 10. VM density & density advantage
        <hr>
       Base VM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Additional VM
    </div>
    <hr color="white">
    <div class="below">
        11. Time frame for comparison(years)
        <hr>
       Time
    </div>
    <hr style="background-color: white;">
    <button>See Results</button>
</div>


