<div class="mainBox">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="https://thumbs.dreamstime.com/z/united-states-america-map-vector-illustration-united-states-america-map-poster-map-usa-state-names-american-119346601.jpg" class="img-responsive">United States</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Partner Central </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> | </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Training </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> | </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Community </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> | </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Store </a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 darkMode" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <!-- Product Logo Navbar-->
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><h3>&nbsp;&nbsp;Product Logo &nbsp;&nbsp;</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">  <h5>Products &nbsp;</h5>  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <h5> Cloud Services &nbsp; </h5></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <h5> Support &nbsp; </h5> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <h5> Downloads &nbsp; </h5> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <h5> Consulting &nbsp; </h5> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <h5> Partners &nbsp; </h5> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <h5> Company &nbsp; </h5> </a>
              </li>
          </ul>
        </div>
      </nav>
</div>
